<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>讲师条目</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>

<div class="teacher-item">
    <div class="top">
        <div class="left">
            <img class="t-header" src="assets/images/teacher.png" alt="">
            <div class="t-intro">
                <div class="t-name-pane">
                    <span class="t-name">协程CTO: 键帽失望</span>
                    <span class="level">星级讲师</span>
                </div>
                <div class="classes">
                    课程: 3门
                </div>
            </div>
        </div>
        <div class="right">
            <span class="btn">
                点击进入首页
            </span>
        </div>
    </div>
    <div class="bottom">
        键帽失望 厉害的狠, 你要问我有多狠, 那就是 很得很
    </div>
</div>


</body>
</html>