<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程卡片</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>


<div class="course-card">
    <div class="top">
        <a href="#">
            <img src="assets/images/course_img.png" alt="">
        </a>
        <span class="hot">
            热门
        </span>
    </div>
    <a href="#" class="course-title">课程名称</a>

<!--    10  5-->
    <div class="score">
        <div class="star">
            <div class="y-star" style="width:80%;"></div>
        </div>
        <span class="score-val">4分</span>
    </div>
    <span class="zan iconfont icon-icon_good">100好评</span>
</div>


</body>
</html>