body {
  background: #f5f5f5;
}
#nav-bar-mini {
  height: 60px;
  background-image: url(../assets/images/bg_nav_rep.png);
  background-repeat: repeat-x;
}
#nav-bar-mini .content {
  height: 60px;
  display: flex;
}
#nav-bar-mini .content .left {
  flex: 3;
  display: flex;
}
#nav-bar-mini .content .left .logo {
  width: 178px;
}
#nav-bar-mini .content .left .logo a {
  width: 100%;
  height: 100%;
  display: block;
}
#nav-bar-mini .content .left .logo a img {
  width: 100%;
  height: 100%;
}
#nav-bar-mini .content .left .menu-items {
  flex: 1;
  display: flex;
  align-items: center;
}
#nav-bar-mini .content .left .menu-items li {
  height: 60px;
  position: relative;
}
#nav-bar-mini .content .left .menu-items li.active a,
#nav-bar-mini .content .left .menu-items li:hover a {
  color: #51b257;
}
#nav-bar-mini .content .left .menu-items li.active::before,
#nav-bar-mini .content .left .menu-items li:hover::before {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background-color: #51b257;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#nav-bar-mini .content .left .menu-items li a {
  height: 100%;
  padding: 0 10px;
  display: inline-block;
  line-height: 60px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}
#nav-bar-mini .content .center {
  flex: 2;
  display: flex;
  align-items: center;
}
#nav-bar-mini .content .center .search-bar {
  background-color: #444;
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid #999;
  overflow: hidden;
  display: flex;
}
#nav-bar-mini .content .center .search-bar .s-category {
  flex: 3;
}
#nav-bar-mini .content .center .search-bar .s-category select {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 14px;
  color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: transparent;
}
#nav-bar-mini .content .center .search-bar .s-category select option {
  color: #666;
}
#nav-bar-mini .content .center .search-bar .s-keyword {
  flex: 8;
}
#nav-bar-mini .content .center .search-bar .s-keyword input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 5px;
  color: #666;
  font-size: 14px;
  background-color: transparent;
}
#nav-bar-mini .content .center .search-bar .s-btn {
  flex: 2;
}
#nav-bar-mini .content .center .search-bar .s-btn input {
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 13px;
}
#nav-bar-mini .content .right {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#nav-bar-mini .content .right .intro {
  width: fit-content;
  height: 50px;
  float: right;
}
#nav-bar-mini .content .right .intro:hover .operation {
  display: block !important;
}
#nav-bar-mini .content .right .intro .personal {
  width: fit-content;
  height: 40px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#nav-bar-mini .content .right .intro .personal .p-name {
  color: #fff;
  margin-right: 10px;
}
#nav-bar-mini .content .right .intro .personal .p-header {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
#nav-bar-mini .content .right .intro .personal .operation {
  width: 160px;
  border: 1px solid #ddd;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 50px;
  display: none;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 10px #ddd;
  z-index: 999;
}
#nav-bar-mini .content .right .intro .personal .operation::before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border: 10px solid transparent;
  border-bottom-color: #ddd;
  position: absolute;
  right: 5px;
  top: -21px;
}
#nav-bar-mini .content .right .intro .personal .operation ul {
  color: #666;
  font-size: 14px;
}
#nav-bar-mini .content .right .intro .personal .operation ul li {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}
#nav-bar-mini .content .right .intro .personal .operation ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#nav-bar-mini .content .right .intro .personal .operation ul li:first-child {
  border-bottom: 1px solid #ddd;
}
#nav-bar-mini .content .right .intro .personal .operation ul li:last-child {
  border-top: 1px solid #ddd;
}
.category-bar {
  height: 40px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.04);
  background: linear-gradient(#f7f6f8, #fff 20%);
}
.category-bar .content {
  height: 100%;
}
.category-bar .content .filter-bar {
  height: 100%;
  display: flex;
  align-items: center;
}
.category-bar .content .filter-bar dt {
  color: #949fab;
  line-height: 40px;
  margin-right: 15px;
}
.category-bar .content .filter-bar dd {
  height: 30px;
  color: #6b6578;
  padding: 0 10px;
  line-height: 28px;
  border: 1px solid transparent;
  font-size: 14px;
  box-sizing: border-box;
}
.category-bar .content .filter-bar dd.active {
  color: #51b257;
  border-color: #51b257;
  border-radius: 15px;
}
.category-bar .content .filter-bar dd:hover {
  color: #51b257;
  cursor: pointer;
}
.content .teacher-item {
  background-color: #fff;
  margin-top: 15px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
.content .teacher-item .top {
  height: 80px;
  display: flex;
}
.content .teacher-item .top .left {
  flex: 1;
  display: flex;
  align-items: center;
}
.content .teacher-item .top .left .t-header {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 2px solid #ddd;
  box-sizing: border-box;
}
.content .teacher-item .top .left .t-intro {
  flex: 1;
}
.content .teacher-item .top .left .t-intro .t-name-pane {
  display: flex;
  align-items: center;
}
.content .teacher-item .top .left .t-intro .t-name-pane .t-name {
  font-size: 18px;
  color: #424242;
  margin-right: 15px;
}
.content .teacher-item .top .left .t-intro .t-name-pane .level {
  font-size: 12px;
  color: #a5571b;
  background-color: #ffd2af;
  padding: 0 2px;
}
.content .teacher-item .top .left .t-intro .classes {
  margin-top: 15px;
  font-size: 12px;
  color: #999;
}
.content .teacher-item .top .right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.content .teacher-item .top .right .btn {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
  font-size: 14px;
  color: #02a6e3;
  border: 1px solid #02a6e3;
  border-radius: 4px;
}
.content .teacher-item .bottom {
  border-top: 1px solid #666;
  padding: 10px 15px;
  min-height: 40px;
  font-size: 16px;
  color: #666666;
}
#footer {
  height: 185px;
  background-color: #474443;
  padding-top: 40px;
  box-sizing: border-box;
}
#footer .container {
  display: flex;
}
#footer .container .left {
  flex: 1;
}
#footer .container .left .f-intro {
  font-size: 14px;
  color: #fff;
}
#footer .container .left .f-link {
  margin: 25px 0;
  display: flex;
}
#footer .container .left .f-link li {
  margin-right: 15px;
}
#footer .container .left .f-link li a {
  font-size: 14px;
  color: #fff;
}
#footer .container .left .f-copyright {
  color: #999;
}
#footer .container .right {
  flex: 1;
}
#footer .container .right .r-ad {
  height: 46px;
  display: flex;
  justify-content: flex-end;
}
#footer .container .right .r-ad img.ad-pane {
  width: 110px;
  height: 110px;
  box-shadow: 0 0 10px #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -120px;
  display: none;
}
#footer .container .right .r-ad .wb,
#footer .container .right .r-ad .wx {
  width: 46px;
  height: 46px;
  background-image: url(../assets/images/layout_css_sprites2.png);
  position: relative;
}
#footer .container .right .r-ad .wb {
  background-position: -112px -74px;
}
#footer .container .right .r-ad .wb:hover {
  background-position: -154px -174px;
}
#footer .container .right .r-ad .wb:hover .ad-pane {
  display: block;
}
#footer .container .right .r-ad .wx {
  background-position: -220px -174px;
  margin-left: 20px;
}
#footer .container .right .r-ad .wx:hover {
  background-position: -286px -174px;
}
#footer .container .right .r-ad .wx:hover .ad-pane {
  display: block;
}
#footer .container .right p {
  text-align: right;
  color: #fff;
}
#footer .container .right p.notice {
  margin: 10px 0;
  font-size: 14px;
  font-weight: bold;
}
#footer .container .right p.notice .time {
  font-size: 12px;
  color: #ddd;
}
#footer .container .right p.tel {
  font-size: 19px;
  letter-spacing: 2px;
  font-weight: bold;
}
.ad-fixed {
  width: 50px;
  height: 200px;
  position: fixed;
  z-index: 999;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.ad-fixed .item {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background-color: #fff;
}
.ad-fixed .item:first-child {
  margin-bottom: 50px;
  background-image: url(../assets/images/layout_css_sprites2.png);
  background-position: -83px -174px;
}
.ad-fixed .item:nth-child(2) {
  background-image: url(../assets/images/layout_css_sprites.png);
  background-position: -4px -94px;
  position: relative;
}
.ad-fixed .item:nth-child(2):hover {
  background-color: #ddd;
}
.ad-fixed .item:nth-child(2):hover img {
  display: block;
}
.ad-fixed .item:nth-child(2) img {
  width: 110px;
  height: 110px;
  border: 2px solid #ddd;
  position: absolute;
  top: 0;
  right: 50px;
  display: none;
}
.ad-fixed .item:last-child {
  background-image: url(../assets/images/layout_css_sprites.png);
  background-position: -166px 2px;
}
.ad-fixed .item:last-child a {
  width: 100%;
  height: 100%;
  display: block;
}
/*# sourceMappingURL=teacher-list.css.map */