<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>焦点图</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>


<div class="ad-focus">

    <ul class="ad-images">
        <li class="active"><a href="#"><img src="assets/images/banner1.png" alt=""></a></li>
        <li><a href="#"><img src="assets/images/banner2.jpg" alt=""></a></li>
        <li><a href="#"><img src="assets/images/banner3.png" alt=""></a></li>
    </ul>

    <ul class="ad-titles">
        <li class="active">标题1</li>
        <li>标题2</li>
        <li>标题3</li>
    </ul>

</div>



</body>
</html>