<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>01-首页-顶部导航栏</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>


<div id="nav-bar">
    <div class="content bx">
        <div class="top">
            <div class="left">
                <a href="#">
                    <img src="./assets/images/logo.png" alt="">
                </a>
            </div>
            <div class="center">
                <form action="#">
                    <div class="search-bar">
                        <div class="s-category">
                            <select name="category" id="">
                                <option value="all">全部</option>
                                <option value="course">课程</option>
                                <option value="teacher">讲师</option>
                                <option value="article">文章</option>
                            </select>
                        </div>
                        <div class="s-keyword">
                            <label>
                                <input type="text" name="key" placeholder="请输入搜索关键字...">
                            </label>
                        </div>
                        <div class="s-btn">
                            <input type="submit" value="&#xe621;&nbsp;搜索" class="iconfont">
                        </div>
                    </div>
                </form>
            </div>
            <div class="right">right</div>
        </div>
        <div class="bottom">
            <div class="left">left</div>
            <div class="right">right</div>
        </div>
    </div>
</div>


</body>
</html>