<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>底部</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="index.css">
    <style>
        #footer {
            margin-top: 200px;
        }
    </style>
</head>
<body>


<div id="footer">
    <div class="container bx">
        <div class="left">
            <p class="f-intro">撩课云课堂 是掘智公司（itlike.com）旗下专注职业技能提升的在线学习平台。</p>
            <ul class="f-link">
                <li><a href="#">关于我们</a></li>
                <li><a href="#">联系我们</a></li>
                <li><a href="#">帮助中心</a></li>
                <li><a href="#">撩课论坛</a></li>
            </ul>
            <p class="f-copyright">©2018-2020 课程内容版权均归 撩课教育 所有 沪ICP备18036896号</p>


        </div>
        <div class="right">
            <div class="r-ad">
                <div class="wb">
                    <img class="ad-pane" src="assets/images/ewm_lk.jpg" alt="">
                </div>
                <div class="wx">
                    <img class="ad-pane" src="assets/images/ewm_lk.jpg" alt="">
                </div>
            </div>
            <p class="notice">客服热线 <span class="time">09:00-19:00</span></p>
            <p class="tel">0554-66666666</p>

        </div>
    </div>
</div>

</body>
</html>