<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>09-nav-bar-mini</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>

<!--mini导航栏-->
<div id="nav-bar-mini">
    <div class="content bx">
        <div class="left">
            <div class="logo">
                <a href="#">
                    <img src="assets/images/logo-mini.png" alt="">
                </a>
            </div>
            <ul class="menu-items">
                <li class="active"><a href="#">讲师</a></li>
                <li><a href="#">课程</a></li>
                <li><a href="#">文章</a></li>
            </ul>
        </div>
        <div class="center">
            <form action="#">
                <div class="search-bar">
                    <div class="s-category">
                        <label>
                            <select name="category" id="">
                                <option value="all">全部</option>
                                <option value="course">课程</option>
                                <option value="teacher">讲师</option>
                                <option value="article">文章</option>
                            </select>
                        </label>
                    </div>
                    <div class="s-keyword">
                        <label>
                            <input type="text" name="key" placeholder="请输入搜索关键字...">
                        </label>
                    </div>
                    <div class="s-btn">
                        <input type="submit" value="&#xe621;" class="iconfont">
                    </div>
                </div>
            </form>
        </div>
        <div class="right">
            <div class="intro">
                <div class="personal">
                    <span class="p-name">注册/登录</span>
                    <img class="p-header" src="assets/images/teacher.png" alt="">
                    <div class="operation">
                        <ul>
                            <li>撩课-itlike.com</li>
                            <li>我的学习</li>
                            <li>设置</li>
                            <li>退出</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>