<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>06-news-card</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>


<div class="news-card">
    <ul>
        <li>
            <a href="#" class="news-title">新闻标题</a>
            <span class="news-time">2020年10月01日 12:12:12</span>
        </li>
        <li>
            <a href="#" class="news-title">新闻标题</a>
            <span class="news-time">2020年10月01日 12:12:12</span>
        </li>
        <li>
            <a href="#" class="news-title">新闻标题</a>
            <span class="news-time">2020年10月01日 12:12:12</span>
        </li>
        <li>
            <a href="#" class="news-title">新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题新闻标题</a>
            <span class="news-time">2020年10月01日 12:12:12</span>
        </li>
    </ul>
</div>

</body>
</html>