<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>05-teacher-card</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="index.css">
    <style>
        .teacher-card {
            margin: 100px auto;
        }
    </style>
</head>
<body>

<div class="teacher-card">
    <div class="left">
        <img class="t-header" src="assets/images/teacher.png" alt="">
        <span class="t-name">金毛狮王</span>
    </div>
    <div class="right">
        <h5 class="position">腾讯CTO</h5>
        <p class="intro">技术大佬, 厉害的狠!大佬, 厉害的狠!技术大佬, 厉害的狠!</p>
    </div>
</div>



</body>
</html>